# Helius RPC API key (optional but recommended for devnet/mainnet reliability)
# Sign up free at https://helius.dev — 100k requests/day on free tier
# Without this, the app falls back to the public Solana RPC endpoints (rate-limited)
NEXT_PUBLIC_HELIUS_API_KEY=

# Cluster selection (default: localnet for development)
# Options: localnet | devnet | testnet | mainnet
NEXT_PUBLIC_DEFAULT_CLUSTER=localnet
